.user{
    margin-bottom: 60px;
    &-info{
        display:flex;
        align-items: center;
        margin-bottom: 10px;
        &-location{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}